/** @format */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
    padding-bottom: 2.5rem;
}

.swiper-pagination2 {
	position: absolute;
	bottom: 0;
	right: auto;
	width: auto !important;
	left: 45% !important;
  z-index: 99;
}

.professionals-swiper-wrapper .swiper-slide {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
  background: #07c589 !important;
}

.professionals-swiper-wrapper .swiper-slide img {
  border-radius: 6rem 1rem;
  display: block;
  width: 100%;
  min-height: 20rem;
  object-fit: cover;
}

.swiper2 .swiper-wrapper img {
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: 10rem;
  width: 4rem;
  height: 4rem;
}


/* Responsive design on mobile devices */
@media screen and (max-width: 758px) {
.swiper2 .swiper-wrapper img {
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: 42%;
  width: 4rem;
  height: 4rem;
}

.swiper-pagination2 {
	position: absolute;
	bottom: 0;
	right: auto;
	width: auto !important;
	left: 42% !important;
  z-index: 99;
}
}